@(teamId: Int, projects: List[Project], calendars: List[Calendar])

@main(teamId, "日历") {
<div class="container calendar flat_container" data-container-id="1">
    <div class="panel calendar" data-body-class="calendar flat_background has_user_menu topnav_calendar">
        <title>日历r</title>
        <div id="calendar_display_singleton" class="calendar_display calendar_list_visible" data-autoview="">
            <div class="right">
                <div class="sheet" id="myCalendar">
                    <header id="calendar_navigation_singleton_singleton" class="calendar_navigation" data-autoview="">
                        <button class="toggle_calendar_list hide action_button" data-behavior="toggle_calendar_list">
                            <span class="hide">Hide the calendar list</span>
                        </button>

                        <button class="toggle_calendar_list show action_button" data-behavior="toggle_calendar_list">
                            <span class="show">Show the calendar list</span>
                        </button>

                        <nav>
                        <button class="month_arrow" data-behavior="navigate calendar_event_drag_area" data-direction="backward"></button>

                        <h1 data-behavior="expandable" class="calendar_title">
                            <a href="#" data-behavior="jump_to_month">
                                Next 6 weeks
                            </a>
                            <div id="calendar_jump_singleton_singleton_singleton" class="position_reference" data-autoview="" style="display: none;">
                                <div class="calendar_jump balloon top_left_side">
                                    <span class="arrow"></span>
                                    <span class="arrow"></span>
                                    <form>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td class="nav"><a href="#" data-direction="backward">◀</a></td>
                                                <td>
                                                    <dl>
                                                        <dt>2014</dt>
                                                        <dd>
                                                            <a href="#" data-date="2014-01-01" class="">
                                                                Jan
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-02-01" class="">
                                                                Feb
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-03-01" class="">
                                                                Mar
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-04-01" class="">
                                                                Apr
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-05-01" class="">
                                                                May
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-06-01" class="selected">
                                                                Jun
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-07-01" class="">
                                                                Jul
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-08-01" class="">
                                                                Aug
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-09-01" class="">
                                                                Sep
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-10-01" class="">
                                                                Oct
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-11-01" class="">
                                                                Nov
                                                            </a>
                                                        </dd>
                                                        <dd>
                                                            <a href="#" data-date="2014-12-01" class="">
                                                                Dec
                                                            </a>
                                                        </dd>
                                                    </dl>
                                                </td>
                                                <td class="nav"><a href="#" data-direction="forward">▶</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </h1>
                        <button class="month_arrow" data-behavior="navigate calendar_event_drag_area" data-direction="forward"></button>
                        </nav>
                        <a href="#" data-behavior="edit_bucket" class="calendar_settings_link decorated">Calendar settings...</a>
                    </header>
                    <div id="calendar_grid_singleton" class="calendar_grid" data-autoview="">

                    </div>
                </div>
            </div>
            <div class="left">
                <aside class="calendar_list">
                    <div id="calendar_list_singleton" class="calendar_list" data-autoview="">
                        <section class="calendars">
                            <div class="new_calendar_event">
                                <a href="#" data-behavior="add_calendar" class="decorated">+ Add a calendar</a>
                            </div>
                            <h4>日历</h4>
                            <ul>
                            @calendars.map {calendar =>
                                @helper.calendar(teamId, calendar)
                            }
                            </ul>
                        </section>
                        <section class="calendars">
                            <h4>项目</h4>
                            <ul>
                            @projects.map {project =>
                                @helper.projectCalendar(teamId, project )
                            }
                            </ul>
                        </section>
                    </div>
                </aside>
            </div>
            <div id="calendar_item_editor_singleton" class="calendar_item_editor all_day" data-autoview="" style="display: none;">
                <div class="balloon balloon_expanded calendarevent right_side">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <form class="calendar_event_editor_form" data-skip_busy="" action="/@teamId/event">
                        <div class="expandable" data-behavior="expandable recurrence_prompt">
                            <div class="collapsed_content">
                                <header class="text_entry">
                                    <fieldset class="event_name">
                                        <strong>
                                            <input name="name" type="text" data-behavior="placeholder dirty_tracking" value="" data-type="text" placeholder="名称">
                                        </strong>
                                    </fieldset>
                                    <fieldset class="event_time">
                                        <span class="time" data-behavior="time_entry">
                                            <input name="startTIme" type="text" data-behavior="placeholder dirty_tracking" value="" data-type="text" placeholder="整天">
                                        </span>
                                    </fieldset>
                                    <fieldset class="event_note">
                                        <input name="description" type="text" data-behavior="placeholder dirty_tracking" value="" data-type="text" placeholder="备忘">
                                    </fieldset>
                                </header>
                                <section>
                                    <fieldset class="event_calendar" data-role="bucket_fields">
                                        <div class="event_field" data-role="bucket_container">
                                            <label class="field_label">日历:</label>
                                            <div class="field_entry">
                                                <select name="bucket" data-behavior="bucket_selector">
                                                    <optgroup label="Calendars">
                                                        @calendars.map {calendar =>
                                                        <option value="Calendar:@calendar.id" selected="selected">@calendar.name</option>
                                                        }
                                                    </optgroup>
                                                    <optgroup label="Projects">
                                                        @projects.map {project=>
                                                        <option value="Project:@project.id">@project.name</option>
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="event_date">
                                        <div class="event_field">
                                            <label class="field_label">开始:</label>
                                            <div class="field_entry" data-behavior="date_entry" data-prev-date="2014-06-12">
                                                <input type="text" name="startDate" class="datepicker hasDatepicker" data-behavior="datepicker" readonly="" tabindex="-1" id="dp1402035931195">
                                            </div>
                                        </div>

                                        <div class="event_field">
                                            <label class="field_label">结束:</label>
                                            <div class="field_entry" data-behavior="date_entry">
                                                <input type="text" name="endDate" class="datepicker hasDatepicker" data-behavior="datepicker" readonly="" tabindex="-1" id="dp1402035931196">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="event_recurrence">
                                        <div class="event_field">
                                            <label class="field_label">重复:</label>
                                            <div class="field_entry">
                                                <select name="freq" class="freq">
                                                    <option value="">No</option>
                                                    <option value="daily">Every day</option>
                                                    <option value="weekly">Every week</option>
                                                    <option value="monthly">Every month</option>
                                                    <option value="yearly">Every year</option>
                                                </select>
                                                <div class="recurrence_end" style="display:none">
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="event_recurrence_end" value="forever" >
                                                                <span class="wrapper">Forever</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="event_recurrence_end" name="event_recurrence_end" value="count">
                                                            <span> For
                                                                <select name="count">
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="13">13</option>
                                                                    <option value="14">14</option>
                                                                    <option value="15">15</option>
                                                                    <option value="16">16</option>
                                                                    <option value="17">17</option>
                                                                    <option value="18">18</option>
                                                                    <option value="19">19</option>
                                                                    <option value="20">20</option>
                                                                    <option value="21">21</option>
                                                                    <option value="22">22</option>
                                                                    <option value="23">23</option>
                                                                    <option value="24">24</option>
                                                                    <option value="25">25</option>
                                                                    <option value="26">26</option>
                                                                    <option value="27">27</option>
                                                                    <option value="28">28</option>
                                                                    <option value="29">29</option>
                                                                    <option value="30">30</option>
                                                                </select>
                                                                <label for="event_recurrence_end" data-role="freqtext"></label>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="event_recurrence_end" value="until">
                                                                <span data-behavior="date_entry">Until
                                                                    <input type="hidden" name="until_date" value="2014-06-13">
                                                                    <input type="text" class="date hasDatepicker" readonly="" id="dp1402035931197">
                                                                </span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </section>
                                <footer>
                                    <p class="submit">
                                        <input type="submit" value="Save changes" class="action_button green">
                                        or <a href="#" class="cancel" data-role="cancel" data-behavior="cancel">Close</a>
                                        <a href="#" class="image delete" data-behavior="delete"></a>
                                    </p>
                                </footer>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@routes.Assets.at("javascripts/myCalendar.js")" type="text/javascript"></script>
<script>
$(function(){
function queryEvents(startDate, endDate) {
    $.ajax({url: '/@teamId/event',
        headers: {
            Accept : "text/javascript; charset=utf-8"
        },
        data : {startDate: startDate, endDate: endDate},
        dataType: 'script',
        type: 'GET'
    })
}
function addNewEvent($dayElement, event){
    var $eventContainer = $('.all_day', $dayElement)
    var color = '#ffffff';
    $eventElement = $('<div class="event selected" data-url="/@teamId/event" style="background-color: #3185c5">'
        + '<input data-toggle="remote" type="hidden" name="startDate" value="' + $dayElement.attr("data-date") + '">'
        + '<input data-toggle="remote" type="hidden" name="endDate" value="' + $dayElement.attr("data-date") + '">'
        + '<span class="event" style="color: #' + color + '" title="Calendar: General">'
        + '•&nbsp;<span class="title popover-btn" name="title" data-content="#tpl-event-popover" data-toggle="remote">新事件</span>'
        + '<span class="time" name="startTime" data-toggle="remote"></span></span></div>')
    $eventContainer.append($eventElement)
    var $editor = $('#calendar_item_editor_singleton')
    var day = $dayElement.attr('data-date')

    $editor.find('[data-behavior="datepicker"]').val(day)

    var $eventText = $eventElement.find('span.event');
    var top = $eventText.offset().top;
    var left = $eventText.offset().left;
    var width = $eventText.width();
    var height = $eventText.height();
    $editor.css({
        left: left + width,
        top: top ,
        display: "block"
    });
}
$('#myCalendar').myCalendar({
    title: '#myCalendar_title',
    body: '#calendar_grid_singleton',
    jump: '#myCalendar_month_select',
    changer: queryEvents,
    selector: addNewEvent
})
})
</script>
}
